// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  text-align: center;
  font-weight: bold;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  li{
    display: inline-block;
    background-color: #5392C1;
    padding: 15px;
    font-size: 20px;
    color: white;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.14);
    font-weight: bold;
  }
}

.big {
  padding: 20px;
  transition: 0.3s;
}

div {
  text-align: center;
}
